*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dashboard-container{
    width: 100%;
    overflow: auto;
    margin-top: 50px;
    padding: 5px;
    display: flex;
    justify-content: center;
    background:rgb(21, 52, 72);
    /* height: 100vh; */
}
.dashboard {
    width: 100%;
    max-width: 750px;
    /* background: radial-gradient(circle, rgba(203,233,235,1) 0%, rgba(244,243,243,1) 26%, rgba(241,250,238,1) 100%); */
    scrollbar-width: none;
    -ms-overflow-style: none;
    height: auto;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    color: white;

  }
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 8px;
  }
  .sandtime p {
    font-size: 21px;
    margin-top: 10px;
  }
  .sandtime span{
    font-size: 18px;
  }
  .sandclock img {
    width: 60px;
    height: 60px;
  }
 .show-queue{
    text-align: center;
    margin-top: 20px;
 }

 .show-queue span{
    background-color: rgb(148, 137, 121); 
    padding: 8px 10px;
    font-size: 19px;
    border-radius: 10px;
    
 }

 .sandclock .sandtimernew-style{
  width: 30px;
  height: 40px;
  background-color: transparent;
 }
  .game-queue {
    margin-top: 30px;
  }
  
  .game-instruction {
    padding: 5px;
  }
  
  .game-instruction h4 {
    font-size: 23px;
    margin-bottom: 5px;
    text-align: center;
  }

  
  .game-icons {
    text-align: center;
    margin: 0px auto;
    padding: 10px;
    margin: 25px;
    box-shadow: 0px 0px 1px black;
    background-color: rgb(148, 137, 121);
    border-radius: 5px;
  }
  
  .game-icons h4 {
    font-size: 20px;
  }
  .game-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  
  .game-icon img {
    width: 70px;
    height: 70px;
    margin: 8px;
  }

  .image-animation{
    border: 1px solid;
    margin-top: 20px;
    padding: 20px;
  }
  .images img{
    width: 40px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    background-position: center;
  }
  .queue-image{
    width: 40px;
  }
.lottie-container{
  text-align: center;
  border: 1px solid;
  width: 90%;
  margin: 20px auto ;
  overflow: hidden;
}
.queue-item {
  display: inline-block;   /* Makes each item appear next to each other in a row */
  text-align: center;      /* Centers the image and text */
  margin: 5px;            /* Adds spacing between images */
}
.highlighted {
  /* box-shadow: 0px 0px 5px ; */
}
